@import './variable';

header{
    background-color: rgba(10, 25, 47, 0.85);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(189, 147, 249, 0.2);
    z-index: 1000;
    backdrop-filter: blur(10px);
    justify-content: center;
    .burger-menu{
        display: none;
    }
    img{
        height: 90px;
        border-radius: 60px;
    }
    .navbar{
        display: flex;
        column-gap: 20px;
        width: 100%;
        max-width: 1200px;
        justify-content: center;
        gap: 50px;
        letter-spacing: 1.5px;
        align-items: center;
    }
    ul{
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
        .react-icon{
            font-size: 32px;
            &:hover{
                color: $accent-color;
                transform: rotate(10deg) scale(1.2);
                filter: drop-shadow(0 0 15px $accent-color);
            }
        }
    }
    .tooltiptext{
        visibility: hidden;
        position: absolute;
        top: 66px;
        right: 120px;
    }
    .tooltip:hover .tooltiptext{
        visibility: visible;
    }
    .active{
        display: grid !important;
        position: absolute;
        right: 0;
        top:64px;;
        gap: 20px;
        padding: 20px;
        background-color: $bg-section;
        width: 40% !important;
        border-radius: 20px;
    }
}

@media screen and (max-width: 768px) {
    header .navbar{
        max-width: 454px;
    }
    header img{
        margin-left: 16px;
        height: 70px;
    }
    header ul {
        margin-right: 16px;
    }
    header .tooltiptext{
        top: 64px;
        right: 32px;
    }
}
@media screen and (max-width: 540px) {
    header{
        left: 0;
        justify-content: space-between;
        .navbar{
            display: none;
        }
        
        ul .react-icon{
            font-size: 26px;
        }

        
        .burger-menu{
            display: inline;
            margin-right: 16px;
        }
    }   
}