@import './variable';

.project-section{
    max-width: 1440px;
    margin: auto;
    
    .project-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 48px;
        justify-items: center;
        padding-top: 60px;
        .project-card{
            max-width: 500px;
            display: grid;
            justify-items: center;
            h3{
                text-align: center;
            }
            img{
                max-width: 450px    ;
            }
            p{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .project-section{
        padding: 110px 0;
        margin: 16px;
        .project-list{
            grid-template-columns: none;
        }
    } 
}